*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}
.container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Poppins';
    background-color: white;
    margin: 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 250px;
    max-width: 960px;

}
@media (min-width: 960px) {
    .container{
        margin: 20px auto;
    }
}
